---
import Layout from "../layouts/Layout.astro";
import Imgcard from "../components/Imgcard.astro";
import Playas from "../assets/Playas.jpg";
import Atractivos from "../assets/Atractivos.jpg";
import Hoteles from "../assets/Hoteles.jpg";
import Restaurantes from "../assets/Restaurantes.png";
import Plaza_Americas from "../assets/Plaza_Americas.png";
import ParqueK from "../assets/ParqueK.jpeg";
---

<Layout title="Zonas">
  <h1 class="mt-3 text-4xl font-semibold text-center text-gray-900">Zonas</h1>
  <div class="grid g-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    <Imgcard
      img={ParqueK.src}
      title="Parques y áreas verdes"
      description="Los parques y áreas verdes son un elemento esencial en cualquier ciudad. No solo proporcionan un espacio para la recreación y el ejercicio, sino que también ayudan a mejorar la calidad del aire y a reducir la contaminación."
      href="/park&Greenz"
      btnText="Ver más"
      loading="eager"
    />
    <Imgcard
      img={Plaza_Americas.src}
      title="Plazas y espacios públicos"
      description="Las plazas y espacios públicos son lugares de encuentro y convivencia. Son espacios abiertos que permiten a las personas reunirse, socializar y disfrutar de actividades al aire libre. Son lugares donde se celebran eventos culturales, festivales y conciertos."
      href="/mallpublic"
      btnText="Ver más"
      loading="eager"
    />
    <Imgcard
      img={Restaurantes.src}
      title="Restaurantes y bares"
      description="Los restaurantes y bares son lugares de ocio y entretenimiento. Son espacios donde las personas pueden disfrutar de una buena comida o bebida, socializar con amigos y familiares, y relajarse después de un día de trabajo."
      href="/"
      btnText="Ver más"
      loading="eager"
    />
    <Imgcard
      img={Hoteles.src}
      title="Hoteles y alojamientos"
      description="Los hoteles y alojamientos son lugares donde las personas pueden hospedarse durante sus viajes. Son espacios que ofrecen comodidad, seguridad y servicios para que los huéspedes se sientan como en casa."
      href="/"
      btnText="Ver más"
      loading="lazy"
    />
    <Imgcard
      img={Atractivos.src}
      title="Atractivos turísticos"
      description="Los atractivos turísticos son lugares de interés que atraen a visitantes de todo el mundo. Son espacios que ofrecen experiencias únicas y memorables, como monumentos históricos, parques naturales, museos y playas."
      href="/"
      btnText="Ver más"
      loading="lazy"
    />
    <Imgcard
      img={Playas.src}
      title="Playas y costas"
      description="Las playas y costas son destinos turísticos populares en todo el mundo. Son espacios donde las personas pueden disfrutar del sol, la arena y el mar, practicar deportes acuáticos y relajarse en un entorno natural."
      href="/"
      btnText="Ver más"
      loading="lazy"
    />
  </div>
</Layout>
