---
import Image from "astro/components/Image.astro";
import Testimonial1 from "../../src/assets/Testimonial1.jpg";
import Testimonial2 from "../../src/assets/Testimonial2.png";
import Testimonial3 from "../../src/assets/Testimonial3.png";
import Testimonial4 from "../../src/assets/Testimonial4.jpg";

const testimonials = [
  {
    testimonial:
      "Planificar mis actividades ha sido mucho más sencillo Desde que descubrí Cancún SafePlace",
    image: Testimonial1,
    name: "Pedro D.",
    local: "Cancunense",
  },
  {
    testimonial:
      "Excelente herramienta para explorar Cancún sin preocupaciones.",
    image: Testimonial2,
    name: "Abraham V.",
    local: "Turista de Mérida",
  },
  {
    testimonial:
      "Información confiable y segura que realmente hace la diferencia.",
    image: Testimonial3,
    name: "Paola S.",
    local: "Turista de CDMX",
  },
  {
    testimonial: "Usando SafePlace me siento más seguro recorriendo la ciudad.",
    image: Testimonial4,
    name: "Iram S.",
    local: "Cancunense",
  },
];
---

<section class="py-16 px-4 text-center">
  <h2
    class="text-4xl font-semibold leading-tight text-indigo-950 mb-2 text-center tracking-tighter text-pretty pointer-events-none">
    Lo que nuestros usuarios dicen
  </h2>
  <p
    class="text-gray-500 max-w-xl mx-auto mb-12 text-lg md:block leading-tight tracking-tighter text-pretty pointer-events-none">
    Descubre cómo SafePlace ha ayudado a turistas y locales a disfrutar Cancún con mayor tranquilidad y confianza.
  </p>

  <div
    class="grid gap-6 lg:grid-cols-4 md:grid-cols-2 max-w-7xl container mx-auto px-14 pb-12 items-center">
    {
      testimonials.map(({testimonial, image, name, local}) => (
        <div class="bg-white flex flex-col shadow-md rounded-lg p-6 text-left hover:scale-105 transition-transform duration-300">
          <p class="text-gray-700 italic mb-6 text-md md:block leading-tight text-pretty pointer-events-none">
            {testimonial}
          </p>
          <div class="flex items-center gap-4">
            <Image
              src={image}
              alt={name}
              width="64"
              height="64"
              draggable="false"
              class="rounded-full w-12 h-12 object-cover"
            />
            <div>
              <p class="font-semibold text-slate-900 mt-auto leading-tight tracking-tighter text-pretty pointer-events-none">
                {name}
              </p>
              <p class="text-sm text-gray-500 mt-auto leading-tight text-pretty pointer-events-none">
                {local}
              </p>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
